mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__columns
                span#jsVolumnBtn
                    i.fas.fa-volume-up
                span#currentTime 00:00:00 
                |/ 
                span#totalTime 00:00:00
                input.videoPlayer__volumn#jsVolumn(type="range", min="0", max="10", step="1", value="5")
            .videoPlayer__columns
                span#jsPlayButton
                    i.fa.fa-play
            .videoPlayer__columns
                span#jsFullScreen
                    i.fas.fa-expand